<html>
    <head><title>Childish Gambino</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
            <%- include('nav'); -%>

        <h1>Childish Gambino</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis rhoncus urna neque viverra. Parturient montes nascetur ridiculus mus. At augue eget arcu dictum. In nibh mauris cursus mattis molestie a iaculis. A arcu cursus vitae congue mauris rhoncus aenean vel. Velit dignissim sodales ut eu sem. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Nisi est sit amet facilisis. Pharetra magna ac placerat vestibulum lectus. At consectetur lorem donec massa sapien faucibus et. Vulputate sapien nec sagittis aliquam malesuada bibendum. Volutpat odio facilisis mauris sit. Parturient montes nascetur ridiculus mus mauris. Sed id semper risus in hendrerit gravida rutrum quisque non. 
        Orci sagittis eu volutpat odio facilisis mauris sit.</p>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>