<div class = "pageThree text-center" id="p3">
    <div class ="paddingTop">
    <h1>Contact</h1>
      <hr width="30%">
      
    <form action="/action_page.php">
      <div class="paddingTop2"> 
    <input type="text" name="FirstName" placeholder="Name" class="black" style="width:350px;height:40px;"><br>
        </div>
      <div class="paddingTop2"> 
    <input type="text" name="LastName" placeholder="Email" class="black" style="width:350px;height:40px;"><br>
      </div>
      <div class="paddingTop2"> 
    <input type="text" name="FirstName" placeholder="Phone" class="black" style="width:350px;height:40px;"><br>
      </div>
      <div class="paddingTop2"> 
    <textarea rows="4" cols="33" class="black" placeholder="Message"></textarea><br>
      </div>
      <div class="paddingTop2"> 
    <input type="submit" value="Submit" class="black" style="width:350px;height:40px;">
      </div>
    </form>
      
      <div class="paddingTop2">
        <hr width="25%">
      <div class = 'btnList'>
      
     <a class = "btn btn-default" href="https://www.linkedin.com/in/timani-gill-406a0780/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> LinkedIn</a>
     <a class = "btn btn-default" href="https://github.com/tmoney112e"><i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub</a>
     </div> 
     </div>
    </div>
    </div>